.block.icons {
    grid-template-columns: 1fr;
  }

  .block.icons .icon-item > div {
    display: flex;
    column-gap: 10px;
  }

  .block.icon .ib-icon span {
    width: 36px;
    height: 36px;
  }