.block.icons .icon-item:has(p > span > img) {
  display: grid;
  grid-template-areas:
    "icons content";
  grid-template-columns: 16px 1fr;
  gap: 10px;
  align-items: center;
}

.icon-item > .ib-icon {
  grid-area: icons;
  margin-bottom: 0;
}

.ib-icon .icon {
  width: 16px;
  height: 16px;
}

.icon-item > *:not(.ib-icon) {
  grid-area: content;
}